/* .main {
  display: flex;
  justify-content: center;
  width: 100%;
} */
.container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.row {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 10px;
}

button, mat-select {
  height: fit-content;
  width: 23vh;
  border-radius: 1rem;
}
