<main class="container">
  <div class="row">Jesteś ---></div>
  <div class="row">
    <button mat-raised-button color="primary" id="student-btn" routerLink="/select/class">Uczniem</button>
  </div>
  <div class="row">
    <button mat-raised-button color="primary" id="teacher-btn" routerLink="/select/teacher">Nauczycielem</button>
  </div>
  <div class="row">zobacz także ---></div>
  <div class="row">
    <button mat-raised-button color="primary" id="classroom-btn" routerLink="/select/classroom">Sale lekcyjne</button>
  </div>
</main>


