<div class="timetable-view">
  <mat-sidenav-container class="main-container">
    <mat-sidenav #sidenav mode="over" backdrop>
      <button mat-icon-button class="menu-icon" aria-label="sidenav toggle button" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-nav-list class="sidebar-list">
        <ng-container *ngIf="TypeName == 'class' && Groups.length != 0; else elseTemplate">
          <div class="groups-classes-container">
            <mat-icon>group</mat-icon>
            <span>Grupy</span>
            <mat-divider></mat-divider>
            <li *ngFor="let group of Groups">
              <mat-checkbox color="primary" name="{{group.name}}" (change)="UpdateGroups($event)" [(ngModel)]="group.checked" class="group-check">{{group.name == '' ? 'Cała klasa' : group.name}}</mat-checkbox>
            </li>
          </div>
        </ng-container>
        <ng-template #elseTemplate>
          <div class="groups-classes-container" *ngIf="Classes.length != 0">
            <mat-icon>school</mat-icon>
            <span>Klasy</span>
            <mat-divider></mat-divider>
            <li *ngFor="let class of Classes">
              <mat-checkbox color="primary" name="{{class.name}}" (change)="UpdateClasses($event)" [(ngModel)]="class.checked" class="group-check">{{class.name}}</mat-checkbox>
            </li>
          </div>
        </ng-template>
        <ng-container >
          <div class="changes-container">
            <mat-icon>sync_alt</mat-icon>
            <span>Zastępstwa</span>
            <mat-divider></mat-divider>
            <mat-checkbox color="primary" name="showChanges" (change)="ToggleChanges()" [(ngModel)]="ShowChanges" class="group-check">Pokaż zastępstwa</mat-checkbox>
          </div>
        </ng-container>

      </mat-nav-list>
    </mat-sidenav>
    <div #mainContent class="main-content">
      <button mat-icon-button class="menu-icon" aria-label="sidenav toggle button" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="table-div">
        <table mat-table [dataSource]="DataSource" class="mat-elevation-z8">

          <ng-container matColumnDef="nr">
            <th mat-header-cell *matHeaderCellDef> Nr. </th>
            <td mat-cell *matCellDef="let element"> {{element.lessons[1].lessonNumber}} </td>
          </ng-container>

          <div *ngFor="let col of daysColumns">
            <ng-container matColumnDef="{{col}}">
              <th mat-header-cell *matHeaderCellDef> {{col}} </th>
              <td mat-cell *matCellDef="let element" [style.background-color]="element.lessons[daysColumns.indexOf(col)].isReplacement && ShowChanges ? '#FFC226' : ''">
                <div *ngIf="element.lessons[daysColumns.indexOf(col)].isReplacement && ShowChanges; else elseTemplate">
                  {{SetSelectedReplacement(element.lessons[daysColumns.indexOf(col)], daysColumns.indexOf(col))}}
                  <div *ngIf="TypeName == 'class'">
                    {{SelectedRp!.note}} <br>
                    {{SelectedRp!.newTeacherName}} <br>
                    {{SelectedRp!.newClassroomName}}
                  </div>
                  <div *ngIf="TypeName == 'classroom'">
                    {{SelectedRp!.note}} <br>
                    {{SelectedRp!.newTeacherName}} <br>
                    {{SelectedRp!.className}}
                  </div>
                  <div *ngIf="TypeName == 'teacher'">
                    {{SelectedRp!.note}} <br>
                    {{SelectedRp!.className}} <br>
                    {{SelectedRp!.newClassroomName}}
                  </div>

                </div>
                <ng-template #elseTemplate>
                  <div #class *ngIf="TypeName == 'class'">
                    {{element.lessons[daysColumns.indexOf(col)].name}} <br>
                    {{element.lessons[daysColumns.indexOf(col)].teacherName}} <br>
                    {{element.lessons[daysColumns.indexOf(col)].classroomName}}
                  </div>
                  <div #classroom *ngIf="TypeName == 'classroom'">
                    {{element.lessons[daysColumns.indexOf(col)].name}} <br>
                    {{element.lessons[daysColumns.indexOf(col)].teacherName}} <br>
                    {{element.lessons[daysColumns.indexOf(col)].className}}
                  </div>
                  <div #teacher *ngIf="TypeName == 'teacher'">
                    {{element.lessons[daysColumns.indexOf(col)].name}} <br>
                    {{element.lessons[daysColumns.indexOf(col)].className}} <br>
                    {{element.lessons[daysColumns.indexOf(col)].classroomName}}
                  </div>
                </ng-template>
              </td>
            </ng-container>
          </div>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </mat-sidenav-container>

</div>
