<main class="container">
  <table mat-table #table [dataSource]="DataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="nr.">
      <th mat-header-cell *matHeaderCellDef> nr. </th>
      <td mat-cell *matCellDef="let row"> {{row.lessons[0].lessonNumber}} </td>
    </ng-container>
    <ng-container matColumnDef="pon">
      <th mat-header-cell *matHeaderCellDef> Pon </th>
      <td mat-cell *matCellDef="let row"> {{row.lessons[0].name}} </td>
    </ng-container>
    <ng-container matColumnDef="wt">
      <th mat-header-cell *matHeaderCellDef> Wt. </th>
      <td mat-cell *matCellDef="let row"> {{row.lessons[1].name}} </td>
    </ng-container>
    <ng-container matColumnDef="sr">
      <th mat-header-cell *matHeaderCellDef> Śr. </th>
      <td mat-cell *matCellDef="let row"> {{row.lessons[2].name}} </td>
    </ng-container>
    <ng-container matColumnDef="czw">
      <th mat-header-cell *matHeaderCellDef> Czw. </th>
      <td mat-cell *matCellDef="let row"> {{row.lessons[3].name}} </td>
    </ng-container>
    <ng-container matColumnDef="pt">
      <th mat-header-cell *matHeaderCellDef> Pt. </th>
      <td mat-cell *matCellDef="let row"> {{row.lessons[4].name}} </td>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>
</main>
